header
    nav.li.fn-clear
        li
            if (consoleType)
                a(href="/") index
            else
                a.current(href="#") index
        li
            if (consoleType)
                a.current(href="#") console
            else
                a(href="/console") console
