doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/static/stylesheets/base.css')
    body
        include header
        block content
        include footer
        block scripts
            script(src='/static/javascripts/lib/jquery-2.1.0.min.js')