extends ../layout
block content
    div.wrap.fn-clear
        div.side
            include common/side
        div.content
            div.segment.fn-clear
                label.label #{__("title")}
                    input#title.input(value="B3log Noty")
                button.button.fn-right.green #{__("init")}
block scripts
    script(src='/static/javascripts/lib/jquery-2.1.0.min.js')
    script(src='/static/javascripts/init.js')