extends ../layout
block content
    div.wrap.fn-clear
        div.side
            include common/side
        div.content
block scripts
    script(src='/static/javascripts/lib/jquery-2.1.0.min.js')
    script(src='/static/javascripts/init.js')